@tailwind preflight;

@tailwind components;

@tailwind utilities;

@import './lib/nprogress';

@import './_variables';
@import './components/authnav';

.icon-spin {
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.sign-in-gradient {
    background-color: rgba(28,206,234,0.82);
    background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, rgba(28,206,234,0.82) 100%);
}